<% config = Ribbonit.configuration %>

<% if Rails.env.development? || Rails.env.send("#{config.staging_name}?") %>

<div id="ribbon" class="ribbon <%= config.position %> <%= config.hide_for_small ? 'hide-for-small' : '' %> <%= config.sticky ? 'sticky' : '' %> line-<%= line_count %>">
  <div class="ribbon-container <%= config.themes[Rails.env.to_sym] %>">
    <% if config.root_link %>
      <%= link_to root_url do %>
        <%= render '/lines', config: config %>
      <% end %>
    <% else %>
      <%= render '/lines', config: config %>
    <% end %>
  </div>
</div>

<% end %>
